version: '3.8'

services:
  lookup_service:
    build: lookup_service
    image: lookup_service
    ports:
      - "8002:8000"
    container_name: lookup_service
    environment:
      - LOG_LEVEL=DEBUG
      - OTEL_SERVICE_NAME=lookup_service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_RESOURCE_ATTRIBUTES=service.name=lookup_service
      - OTEL_TRACES_SAMPLER=parentbased_always_on
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true

  quote_api_service:
    build: quote_api_service
    ports:
      - "8001:8000"
    container_name: quote_api_service
    environment:
      - LOG_LEVEL=DEBUG
      - OTEL_SERVICE_NAME=quote_api_service
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://lgtm:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_RESOURCE_ATTRIBUTES=service.name=quote_api_service
      - OTEL_TRACES_SAMPLER=parentbased_always_on
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
    depends_on:
      - lgtm
      - lookup_service
  nginx:
    build: nginx
    image: nginx-otel
    ports:
      - "80:80"
    platform: linux/amd64
    environment:
      - LD_LIBRARY_PATH=/opt/opentelemetry-webserver-sdk/sdk_lib/lib
    volumes:
      - ./nginx/opentelemetry_module.conf:/etc/nginx/conf.d/opentelemetry_module.conf
      - ./nginx-logs:/var/log/nginx
    depends_on:
      - lgtm
  lgtm:
    image: grafana/otel-lgtm
    ports:
      - "3000:3000" # Grafana
      - "3100:3100" # Loki
      - "3200:3200" # Tempo
      - "3300:3300" # Mimir
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8888:8888" # Prometheus metrics
    volumes:
      - ./otel-collector-config.yaml:/otel-lgtm/otelcol-config.yaml
      - ./otel-collector-config.yaml:/otel-lgtm/test.yaml
      - lgtm_data:/var/lib/grafana
      - ./nginx-logs:/var/log/nginx
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - ENABLE_LOGS_OTELCOL=true

volumes:
  lgtm_data:
